In [6]:
import pandas as pd
import numpy as np

In [7]:
np.random.seed(0)
df = pd.read_csv('numerai_training_data.csv', header=0)

In [4]:
df.head(3)

,id,era,data_type,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature13,feature14,feature15,feature16,feature17,feature18,feature19,feature20,feature21,target
0,44885,era1,train,0.48082,0.50443,0.64472,0.42563,0.36493,0.43412,0.59584,...,0.38062,0.69552,0.60017,0.36811,0.61011,0.64667,0.57433,0.49981,0.45062,0
1,128624,era1,train,0.29881,0.48132,0.74775,0.35139,0.34590,0.59582,0.47218,...,0.25399,0.69524,0.54931,0.24025,0.73879,0.74283,0.46221,0.61501,0.44855,0
2,25226,era1,train,0.35476,0.55320,0.72901,0.41842,0.30004,0.50967,0.58637,...,0.28310,0.76956,0.64866,0.29443,0.70038,0.72421,0.53198,0.51801,0.38804,1

In [ ]:
# Feature selection
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp']
train = train.drop(drop_elements, axis = 1)